* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}

body {
  display: block;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .header {
    height: 3rem;
    width: 100%;
    background-color: rgb(60 58 57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .fa-bars {
    color: white;
    width: 8%;
  }

  .logo-title {
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }

  .section1 {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 3rem 0;
    position: relative;
  }

  .sub-section-1 {
    margin: 0 1rem;
  }

  .section1-title h1 {
    color: rgb(255 107 0);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    width: 100%;
  }

  .section1-text h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    padding: 0.5rem 0;
  }

  .section1-text2 p {
    color: rgb(246, 239, 227);
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 100;
    width: 80%;
    padding: 0.5rem 0;
    line-height: 20px;
  }

  .section-icon {
    justify-content: space-between;
    display: flex;
  }

  .icons {
    display: flex;
    gap: 13px;
    width: 50%;
    padding: 0.7rem 0;
  }

  .icons li {
    list-style: none;
  }

  .fas {
    color: white;
    font-size: 30px;
  }

  .bg-design {
    margin: -5rem 0 0 0;
    width: 34%;
  }
}
