
* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}

body {
  display: block;
  margin: 0;
}

.header {
  height: 3rem;
  width: 100%;
  background-color: rgb(60 58 57);
  align-items: center;
  padding: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  color: #1c1a19;
  width: 8%;
}

.logo-title {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.section1 {
  background-color: #1c1a19;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  position: relative;
}

.sub-section-1 {
  margin: 0 1rem;
}

.section1-title h1 {
  color: rgb(255 107 0);
  font-size: 2rem;
  font-family: 'Crete Round', serif;
  width: 100%;
}

.section1-text h2 {
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 0.5rem 0;
}

.section1-text2 p {
  color: rgb(246, 239, 227);
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 100;
  width: 80%;
  padding: 0.5rem 0;
  line-height: 20px;
}

.section-icon {
  justify-content: space-between;
  display: flex;
}

.icons {
  display: flex;
  gap: 13px;
  width: 50%;
  padding: 0.7rem 0;
}

.icons li {
  list-style: none;
}

.fas {
  color: white;
  font-size: 30px;
}

.bg-design {
  width: 40%;
  background: url(img/Group.png);
}

.work-section {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

.sub_work-section-2 {
  padding: 0 1rem;
}

.work-section-title h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}

.worksection-lineheight {
  display: flex;
  justify-content: center;
}

.worksection-lineheight hr {
  width: 60%;
}

.work-section-card {
  padding: 4rem 0;
}

.work-section-card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.work-section-card p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.work-section-button {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.work-section-button-1 {
  width: 15%;
  font-size: 14px;
  border: #091e42 solid 1px;
  text-align: center;
  color: #091e42;
  margin: 0 3px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.work-section-button-2 {
  width: 20%;
  font-size: 14px;
  border: #091e42 solid 1px;
  text-align: center;
  color: #091e42;
  margin: 0 3px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.work-section-button-3 {
  width: 30%;
  font-size: 14px;
  border: #091e42 solid 1px;
  text-align: center;
  color: #091e42;
  margin: 0 3px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.work-section-mainbutton {
  margin-top: 1rem;
  width: 30%;
  background-color: rgb(255 107 0);
  height: 30px;
  text-align: center;
}

.work-section-mainbutton a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 4px 0;
}

.work-section-mainbutton a:hover {
  color: rgb(245 88 0);
  background: rgb(255 245 225);
  border: 1px solid rgb(245 88 0);
}

.work-section-2 {
  width: 100%;
  height: 19rem;
  background: linear-gradient(180.45deg, rgb(38 38 38 / 0%) 0.75%, rgb(38 38 38 / 90%) 61.94%), url(img/img2.png);
  padding: 6rem 0;
}

.work-section-2 h1 {
  color: white;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.sub_work-section-2-p {
  margin-top: 1rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.work-section-2-button {
  display: flex;
  width: 80%;
}

.work-section-2-button-2 {
  width: 23%;
  height: 1.5rem;
  font-size: 14px;
  background-color: rgba(128, 128, 128, 0.084);
  text-align: center;
  color: white;
  margin: 10px 8px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 0.1px rgba(128, 128, 128, 0.084);
  padding: 6px;
}

.about-section-mainbutton .tag-2 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 4px 0;
}

.work-section-2-button-3 {
  width: 30%;
  height: 1.5rem;
  font-size: 14px;
  background-color: rgba(128, 128, 128, 0.084);
  text-align: center;
  color: white;
  margin: 10px 8px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 0.1px rgba(128, 128, 128, 0.084);
  padding: 6px;
}

.work-section-mainbutton-2 {
  margin-top: 0.5rem;
  width: 100%;
  background-color: rgb(255 107 0);
  height: 35px;
  text-align: center;
  padding: 4px;
}

.work-section-mainbutton-2 .tag-2 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
}

.work-section-mainbutton-2 a:hover {
  color: rgb(245 88 0);
  background: rgb(255 245 225);
  border: 1px solid rgb(245 88 0);
}

.work-section-mainbutton-2 a:active {
  background-color: rgb(224 83 4);
  color: rgb(244 241 240);
}

.about-section {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  position: relative;
}

/* .about-title_section {
  margin: 1rem;
} */

.about-title_section-subsection {
  margin: 1rem;
}

.about-title_section-h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-title_section-p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-section-mainbutton {
  margin-top: 1rem;
  width: 40%;
  background-color: rgb(255 107 0);
  height: 30px;
  text-align: center;
}

.about-section-mainbutton a:hover {
  color: rgb(245 88 0);
  background: rgb(255 245 225);
  border: 1px solid rgb(245 88 0);
}

.tag-3 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 4px 0;
}

.about-section-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.sideimage {
  width: 30%;
  height: 100%;
}

.about-section-lineheight {
  display: flex;
  justify-content: center;
}

.about-section-lineheight hr {
  width: 95%;
  background-color: white;
}

.Skils-section_language-image {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 20px;
  align-items: center;
}

.Skils-section_subtitle {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.Skils-section_language-image h1 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 43px;
  text-align: center;
}

.Skils-section_subtitle li {
  color: white;
  font-size: 15px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  text-align: center;
}

.Skils-section_language {
  margin: 2rem;
}

.Skils-section_language-image img {
  width: 7%;
  height: 10%;
}
